<div class="row d-flex justify-content-evenly">
	<div class="col-10">
		<ul class="nav nav-pills nav-fill mt-4 d-flex">
			<li class="nav-item">
				<button class="btn btn-outline-light" id="today-btn">Today</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-outline-light" id="week-btn">Week</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-outline-light" id="month-btn">Month</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-outline-light" id="archive-btn">Archive</button>
			</li>
		</ul>
	</div>
</div>