/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


body {
  background-color: #0d324d;
  /* background-image: linear-gradient(315deg, #000000 0%, #242424 74%); */
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Roboto', 'Courier New', 'Courier';
  color: #FBF8EF;
  /* background-color: #98C1D9; */
}

.header-button {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  /* background-color: #3D5A80; */
  border-radius: 1.25rem;
  box-shadow: 16px 18px 18px 2px rgba(0, 0, 0, 0.30);
  border: none;
}

.header-button:hover {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  /* background-color: #3D5A80; */
  border-radius: 1.25rem;
  box-shadow: 16px 18px 18px 2px rgba(82, 56, 78, 0.30);
  border: none;
}



.card {
  /* background-color: #7f5a83; */
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  /* background-color: #3D5A80; */
  border-radius: 1.25rem;
  box-shadow: -16px 18px 18px 2px rgba(0, 0, 0, 0.30);
  border: none;
}

li {
  list-style: none;
}

#add-btn {
  position: sticky;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.btn {
  border-radius: 1rem;
  border: none;
  box-shadow: -16px 18px 18px 2px rgba(0, 0, 0, 0.30);
}

.btn:enabled {
  background: none;
  color: white;
  box-shadow: -16px 18px 18px 2px rgba(0, 0, 0, 0.30);
  border: none
}

.btn-close {
  color: white;
}

.modal-content {
  box-shadow: -16px 26px 8px 0px rgb(0 0 0 / 30%) inset;
  border-radius: 1.25rem;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.modal {
  background-color: #0d324d;
}

.form-control {
  background: none;
  color: white;
  border: none;
}

.form-control:focus {
  background: none;
  box-shadow: -16px 18px 18px 2px rgba(0, 0, 0, 0.50);
  border: none;
  border-radius: 1.25rem;
  color: white;
}